dist: trusty
sudo: required
language: perl
perl:
- "5.10"
- "5.26"
before_install:
- APT_INSTALL='sudo apt-get install --no-install-recommends'
- echo 'deb http://archive.ubuntu.com/ubuntu/ xenial main universe' | sudo tee -a /etc/apt/sources.list
- sudo apt-get update
- $APT_INSTALL -t trusty build-essential libssl-dev
- $APT_INSTALL -t trusty python-docutils
- $APT_INSTALL -t xenial libnss-wrapper libsocket-wrapper
install:
- export PERL_CPANM_OPT='--no-interactive --no-man-pages --notest --skip-satisfied'
- cpanm HTML::Form HTML::HeadParser HTML::TreeBuilder IO::Socket::SSL IPC::Run JSON LWP::UserAgent LWP::Protocol::https Net::HTTPS Net::SSLeay
- cpanm Perl::MinimumVersion
- cpanm Perl::Critic
before_script:
- make -C t/certs/
script:
- dpkg-parsechangelog -ldoc/NEWS --all 2>&1 >/dev/null | { ! grep .; }
- make -C doc/
- make -C doc/ check
- private/check-rst
- private/run-perlcritic
- prove --verbose

# vim:ts=2 sts=2 sw=2 et
