[req]
distinguished_name = req_dn
prompt = no
x509_extensions = x509_ext

[req_dn]
jurisdictionCountryName = PL
businessCategory = Private Organization
serialNumber = 0000025237
C = PL
ST = mazowieckie
L = Warszawa
O = mBank S.A.
CN = online.mbank.pl

[x509_ext]
authorityKeyIdentifier = keyid
subjectKeyIdentifier = hash
subjectAltName = DNS:online.mbank.pl
keyUsage = critical, digitalSignature, keyEncipherment
extendedKeyUsage = serverAuth, clientAuth
crlDistributionPoints = URI:http://crl3.digicert.com/sha2-ev-server-g3.crl, URI:http://crl4.digicert.com/sha2-ev-server-g3.crl
certificatePolicies = 2.16.840.1.114412.2.1,@ev_policy
authorityInfoAccess = OCSP;URI:http://ocsp.digicert.com,caIssuers;URI:http://cacerts.digicert.com/DigiCertSHA2ExtendedValidationServerCA.crt
basicConstraints = CA:false

[ev_policy]
policyIdentifier = 2.23.140.1.1
CPS = http://www.digicert.com/CPS
